/*Estructura General*/
body{
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(2, 87, 70);
    height: 100%;
    margin: 0;
    padding: 0;
}
.fondo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: rgb(2, 87, 70);
    text-align: center;
}
.diapositiva{
    display:flex;
    background-color: rgb(242, 242, 242);
    height: 90vh;
    width: 180vh;
    flex-direction:column;
}

/*Pagina Principal*/
.tituloPrincipal{
    font-family: cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
}

.parrafoAbajo{
    position: absolute;
    height: 40px;
    width: 400px;
    border-radius: 15px;
    background-color: rgb(171, 5, 5);
    top: 30%; /* Ajusta este valor según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;

}

.btn-danger{
    width: 150px !important;
    position: absolute;
    top: 70%; /* Ajusta este valor según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Pagina de objetivo*/
.tituloPagina1{
    font-family: cursive;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
}

.Objetivos{
    font-family: cursive;
    text-align: justify;
    width: 1250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}

.btn-success{
    position: absolute;
    top: 80%; /* Ajusta este valor según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Instrucciones*/
.tituloInstrucciones{
    font-family: cursive;
    position: absolute;
    top: 23%;
    left: 51%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
}
.Instrucciones{
    font-family: cursive;
    width: 1150px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
}